*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --primary-base-color: #0B5ED7;
}

.mobile_menu{
    display: none;
}

.navbar-toggler-icon{
    width: 1.5em;
    height: 1.5em;
    background-image: url('images/menu.png');
    background-repeat: no-repeat;
}

.navbar-toggler{
    border: 0;
}

.navbar-toggler:focus{
    border: 0;
    box-shadow:none;
}

.modal-header{
    /* background-color: #3378ed; */
    background: url('images/for_header_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10% 35%;
    color: #fff;
}

.modal-header .btn-close{
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    top: 20px;
    right: 20px;
}

.lft_col_cnt .fa-circle-play{
    font-size: 32px;
}

.lft_col_cnt .icon-link{
    text-decoration: none;
}

.lft_col_cnt h1{
    font-size: 52px;
    line-height: 1.2;
    font-weight: 700;
}

.fa-sheet-plastic{
    font-size: 1.8em;
    padding: 13px 15px;
    background-color: #DEFBF7;
}

.fa-globe{
    font-size: 1.8em;
    padding: 13px 15px;
    background-color: #E5D8F4;
}

.fa-gear{
    font-size: 1.8em;
    padding: 13px 15px;
    background-color: #FFEDE3;
}

.fa-desktop{
    font-size: 1.8em;
    padding: 13px 15px;
    background-color: #DBEDFF;
}

.fa-bullhorn{
    font-size: 1.8em;
    padding: 13px 15px;
    background-color: #FCFCD6;
}

.fa-up-right-from-square{
    font-size: 1.8em;
    padding: 13px 15px;
    background-color: #ffffff;
}

.fa-teamspeak{
    font-size: 1.8em;
    padding: 13px 15px;
    background-color: #FFF9D9;
}

.fa-chart-simple{
    font-size: 1.8em;
    padding: 13px 15px;
    background-color: #D5F4E4;
}

.fa-comments{
    font-size: 1.8em;
    padding: 13px 15px;
    background-color: #ffffff;
}

.imgcontnt{
    position: relative;
}

.whychosmg2{
    position: absolute;
    bottom: 0;
    left: 0;
    /* border: 20px 20px 0 0 solid #ffffff; */
    width: 60%;
    border-top: 20px solid #ffffff;
    border-right: 20px solid #ffffff;
}

.whychosmg1{
    
}

.cta_cntnt{
    border-top: 20px solid #ffffff;
    border-right: 20px solid #ffffff;
    border-left: 20px solid #ffffff;
    margin-bottom: -50px;
}

video{
    width: 100%;
    height: 500px;
    object-fit: cover;
    overflow: hidden;
}
/* .icn-img{
    background-color: #D5F4E4;
} */

.contct_lft_cnt{
    position: relative;
}
.cont-lft-col1{
    height: 300px;
    position: relative;
}
#cnt_spport{
    position: absolute;
    top: 90px;
}

.cnt-support-bg{
    background-color: #ffffff;
    padding: 30px 0px;
    margin: 0 40px;
}


#cnt_spport img{
    /* border: 30px solid #ffffff; */
    padding: 0 30px;
}

.cform div{
    margin-bottom: 25px;
}

.cform input{
    padding: 7px 0 7px 10px;
    width: 90%;
}

textarea{
    padding: 7px 0 0 10px;
    width: 90%;
}

.main_footer{
    background-color: #EEEFF1;
}

.scl-icons .fa-brands{
    margin-right: 14px;
    cursor: pointer;
}

.f-content ul{
    padding-left: 0 !important;
}

.f-content li{
    list-style-type: none;
    padding-bottom: 10px;
    font-size: 15px;
}

.f-content li a{
    text-decoration: none;
    color: #000;
}

.sbsbttn{
    padding: 6px 15px;
}

#footer_mailbox{
    padding: 6px 0 6px 7px;
    border: 0;
}

.bottom-footer a{
    text-decoration: none;
    color: #333;
}

@media(max-width:600px){
    .mobile_menu{
        display: block;
    }

    .desk_menu{
        display: none;
    }

    .offcanvas-header{
        background-color: #3378ed;
    }

    .offcanvas-body{
        background-color: #20a3f5;
    }

    .offcanvas-body a.nav-link.active{
        color: #fff;
    }

    .offcanvas-body a.nav-link{
        color: #ffffffb0;
    }

    .lft_col_cnt h1{
        font-size: 32px;
        line-height: 1.2;
        font-weight: 500;
    }
}

@media(min-width: 800px){
    #carouselExampleAutoplaying .carousel-control-prev{
        bottom: -16px;
        right: 0;
        top: auto;
        margin-right: 62px;
        left: auto;
        width: 5%;
        opacity: 1;
        background-color: var(--primary-base-color);
    }

    #carouselExampleAutoplaying .carousel-control-next{
        bottom: -16px;
        right: 0;
        top: auto;
        width: 5%;
        margin-right: 25px;
        opacity: 1;
        background-color: var(--primary-base-color);
    }

    #carouselExampleAutoplaying .carousel-control-prev-icon{
        /* background-color: var(--primary-base-color); */
        width: 1rem;
    }

    #carouselExampleAutoplaying .carousel-control-next-icon{
        /* background-color: var(--primary-base-color); */
        width: 1rem;
    }

    #carouselrevw .carousel-control-prev{
        width: 5%;
        height: 50px;
        top:85px;
        opacity: 1;
        background-color: var(--primary-base-color);
    }

    #carouselrevw .carousel-control-next{
        width: 5%;
        height: 50px;
        top: 85px;
        opacity: 1;
        background-color: var(--primary-base-color);
    }

    #carouselrevw .carousel-control-prev-icon{
        /* background-color: var(--primary-base-color); */
        width: 1rem;
    }

    #carouselrevw .carousel-control-next-icon{
        /* background-color: var(--primary-base-color); */
        width: 1rem;
    }
}